
<h1>Admin List</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th><i class="fa fa-id-card"></i>Ad_Id</th>
            <th><i class="fa fa-user"></i>Ad_Name</th>
            <th><i class="fa fa-envelope"></i>Ad_Email</th>
            <th><i class="fa fa-lock"></i>Ad_Password</th>
            
            
            <th><i class="fa fa-pen"></i>Edit Details</th>
            <th><i class="fa fa-trash"></i>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of Admin">
            <td>{{a.ad_id}}</td>
            <td>{{a.ad_name}}</td>
            <td>{{a.ad_email}}</td>
            
            <td *ngIf="a.ad_password==null"style="color: red;">Not Available</td>
            <td *ngIf="a.ad_password!=null">{{a.ad_password}}</td>
            
            

            <td><a routerLink="/editadmin/{{a.ad_id}}">
            <button class="btn btn-warning"> <i class="=fa-solid fa-pen"></i>Edit</button></a></td>

            <td><button type="button"(click)='DeleteAdminById(a.ad_id)' class="btn btn-danger"><i class="fa-solid fa-trash"></i>Delete</button></td>
        </tr>
    </tbody>
</table>
